* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1600px;
}

.header {
  margin: 0 auto;
}

.header_menu-box {
  margin: 0 auto;
  height: 75px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_menu-nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 231px;
}

.header_menu-nav-2 {
  padding-right: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_menu-1 {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_menu-2 {
  width: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_menu-list {
  list-style-type: none;
}

.header_menu-link {
  text-decoration: none;
}

.header_main-title {
  height: 764px;
  background: #F1E4E6;
}

.header_main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_main-title-text {
  margin: 290px 0 0 63px;
  padding-left: 16px;
  width: 370px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  border-left: 12px solid #F16D7F;
}

.header_main-title-text-2 {
  margin: 0 0 0 63px;
  padding-left: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  Line-height: 38px;
  color: #222222;
  border-left: 12px solid #F16D7F;
}

.header_main-title-text-2 span {
  color: #F16D7F;
}

.main_menu {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_menu_cards-box {
  margin: 65px 230px 30px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.main_menu .card-1 {
  width: 360px;
  height: 260px;
  background-image: url(img/Group_36.png);
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu .card-2 {
  width: 360px;
  height: 260px;
  background-image: url(img/Group_37.jpg);
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu .card-3 {
  width: 360px;
  height: 260px;
  background-image: url(img/Group_38.jpg);
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu_cards-box-2 {
  padding: 0 230px;
  height: 160px;
  max-width: 1140px;
  background-image: url(img/Group_39.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 96px;
}

.main_menu_card-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.main_menu_card-link span {
  padding-bottom: 10px;
  font-weight: 900;
  line-height: 29px;
  font-size: 24px;
  color: #F16D7F;
}

.main_menu_card-link-4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 170px;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.main_menu_card-link-4 span {
  padding-bottom: 10px;
  font-weight: 900;
  line-height: 29px;
  font-size: 24px;
  color: #F16D7F;
}

.main_block {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_block_goods-title {
  text-align: center;
  padding: 0 230px;
}

.main_block_title-header {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  padding-bottom: 6px;
}

.main_block_title-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.main_block_goods-cards {
  margin: 48px auto;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_block .goods-card_item_header {
  margin: 24px auto 13px 18px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.main_block .goods-card_item_text {
  margin-left: 18px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.main_block .goods-card_item_price {
  margin: 18px auto 50px 18px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.main_block-goods-browse {
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  margin-bottom: 95px;
}

.main_block .main_block-goods-browse-link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 47px;
  color: #F26376;
  text-decoration: none;
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  margin-bottom: 95px;
  text-align: center;
}

.goods-card_item {
  max-width: 360px;
  height: 581px;
  background: #F8F8F8;
  margin-bottom: 20px;
}

.footer {
  margin: 0 auto;
  height: auto;
  background: #222224;
}

.footer_menu {
  margin: 0 230px;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_menu-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 28px;
}

.footer_menu-link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-decoration: none;
  text-align: center;
}

.footer_menu-text {
  padding-top: 16px;
  max-width: 360px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer_contacts {
  margin: 0 auto;
  height: 448px;
  background-image: url(img/photo_subscribe.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .online-support {
  padding-left: 203px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.footer .online-support-img {
  padding-bottom: 36px;
}

.footer .news-subscription {
  width: 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 230px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer .news-subscription-header {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.footer .news-subscription-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  padding-bottom: 39px;
}

.footer .news-subscription .news-subscription-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .news-subscription .send-button {
  width: 100px;
  height: 49px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  border: 2px solid #F16D7F;
  border-radius: 0 24px 24px 0;
}

.footer .news-subscription .news-subscription-input-box {
  width: 256px;
  height: 49px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  border: 2px solid #E1E1E1;
  border-radius: 24px 0 0 24px;
  text-align: center;
}

.footer .news-subscription .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .news-subscription .copyrights-box {
  padding-left: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer .news-subscription .copyright_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer .news-subscription .footer_links-box {
  padding-right: 230px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */